@charset "UTF-8";

:root {
  --apple-blue: #0368cd;
  --cyan-blue: #0089CD;
}

@media screen and (min-width: 320px) and (max-width:768px){
  .proj {height: 28em}
  .card-box {flex-direction: row}
  .me {height: 40em;}
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--cyan-blue);
  text-decoration: none;
}

a:hover {color: var(--apple-blue);}

body {
  position: relative;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #333;
  background-color: #fefefe;
  font-family: 微软雅黑, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: sticky;
  height: 18em;
  background-color: var(--cyan-blue);
}

header,nav > * {color: #fff}

.avatar {
  border-radius: 7em;
  width: 7em;
  height: 7em;
  background-image: url(images/avatar.jpg);
  background-size: cover;
}

/* .title { margin-left: 2em} */

.title h1 {font-size: 3.5em}

.title h1 span {font-size: 1.6em}

.title h2 {font-size: 3.4em;}

.nav-box {
  position: sticky;
  top: 0;
  height: 2.5em;
  line-height: 2.5em;
  z-index: 100;
  background-color: var(--cyan-blue);
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}

nav li{
  display: inline-block;
  padding: 0 .6em;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {color: var(--apple-blue)}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  min-height: 24rem;
  flex-direction: column;
  /* background-color: #f8f8f8; */
  overflow: hidden;
}

.home .intro {
  padding: 2em;
  border-radius: .5em;
  background-color: #eee2;
  backdrop-filter: blur(14px);
  margin-bottom: 2em;
  font-family: "Jetbrains Mono","Courier New",'Courier New',Courier, Consolas,sans-serif,monospace;
  box-sizing: border-box;
}

.home img {
  position:absolute;
  bottom: -5em;
  right: -4em;
  width: 25em;
  height: 25em;
  z-index: 0;
}

.proj {
  background-color: #f8f8f8;
  flex-direction: column;
  min-height: 20em;
}

.proj-title {
  position: absolute;
  top: 2em;
  width: 90%;
}


.proj-title h3 {
  float: left;
  font-size: 1.1em;
}

.proj-title a {
  float: right;
  font-size: 13px;
  color: #666;
  text-decoration: none;
}

.proj > a:hover {color: var(--apple-blue)}

.proj .card-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content:space-evenly;
  align-items: center;
}

.card-box .card {
  position: relative;
  margin: 1em;
  padding: 1em;
  width: 16em;
  height: 9em;
  border-radius: .4em;
  background-color: #fcfcfc;
  box-shadow: -2px -2px  2px #eee, 2px 2px  2px #ddd;
  box-sizing: border-box;
  cursor: pointer;
}

.card-box .card:hover {
  background-color: #f6f6f6;
}

.card ul {list-style: none}

.card ul li > *{display: inline-block}

.card ul li:nth-child(3) {
  position: absolute;
  bottom: 1em;
}

.card h4 {
  font-size: .9rem;
  color: var(--apple-blue);
}

.card .pub {
  position: absolute;
  top: 1.3em;
  right: 1em;
  width: 4.2em;
  height: 1.4em;
  font-size: 13px;
  text-align: center;
  /* border: 1px solid #ccc */
  box-shadow: 1px 1px 1px #cccc, .02em .02em .02em #ccc3;
  border-radius: 1.6em;
  background-color: #f6f6f6;
}

.card .desc {
  padding: .8em 0;
  font-size: 13px;
  color: #999;
}

.card .lang {
  width: .8rem;
  height: .8rem;
  border-radius: .8rem;
  background-color: #E34C26;
  opacity: .8;
}

.card li:nth-child(3) span {
  display: inline-block;
  padding-left: .2em;
  font-size: 13px;
  color: #666;
}

.me {
  flex-direction: column;
  background-color: #9cc;
  height: 30em;
}

.me p {
  width: 70%;
  margin: .5em;
  padding: 1em;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 1.5rem;
}

footer {
  position: sticky;
  bottom: 0;
  height: 2em;
  line-height: 2em;
  font-size: 14px;
  text-align: center;
  background-color: #fff2;
  backdrop-filter: blur(4px);
  z-index: 100;
}
