@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font: 18px/1.5 sans-serif;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 95%;
  margin: 0 auto;
  margin-top: 2.5rem;
}

.container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  margin: 3rem auto;
  /*margin-bottom: 18rem;*/

}

header h1 {font-size: 7.5rem}

header h2 {
  font-weight: normal;
  left: 6rem;
  font-size: 3.5rem;
  color: dodgerblue;
}

header p {
  text-align: center;
  margin: 1.4rem;
  font-size: 1.5rem;
  color: #666;
}

header .splash {
  padding: 0 1rem;
  color: dodgerblue;
  font-size: 1rem;
}

header a {
  margin:  2rem auto;
  width: 10rem;
  height: 3.2rem;
  font-size: 1.3rem;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  border-radius: 40px;
  background-color: dodgerblue;
  text-decoration: none;
}

header a:hover {background-color: navy}
